<%= form_for(@ingreso, :url => { :action => "addMedicamento" }, remote: true, html:{id: "recetaIngreso-form",format: :json}, validate: true) do |f| %>
    <% f.fields_for :medicina do |me|%>
        <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="cantidad">CANTIDAD</label>
                        <%= me.number_field :Ins_Cantidad, class:'form-control', id:'cantidad', value:'0'%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="medicamento">MEDICAMENTO</label>
                        <%= me.text_area :Ins_Nombre, class:'form-control', id:'medicamento', placeholder:'Nombre y descripción de la medicación'%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="medIndicacion">INDICACIÓN</label>
                        <%= me.text_area :Ins_Indicacion, class:'form-control', id:'medIndicacion', placeholder:'Indicación para suministrar el medicamento'%>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
            <div class="col-lg-3">
                <div class="actions">
                    <button type="submit" class="btn btn-primary">
                    <span><i class="glyphicon glyphicon-plus"></i> Guardar</span>
                    </button>
                </div>                
            </div>
        </div>

    <%end%>
<%end%>