<div class="panel panel-info" style="margin-top: 50px">
    <div class="panel-heading">MODIFICAR USUARIO</div>
        <div class="panel-body">
            <%= render 'form', usuario: @usuario %>
        </div>
</div>

