<div class="panel panel-info" style="margin-top: 20px">
    <div class="panel-heading">NUEVO USUARIO</div>
        <div class="panel-body">
            <%= render 'form', usuario: @usuario %>
        </div>
</div>
