<% provide(:cirugiasProgramadas, 'active') %>
    <div class="alert" style="padding-top: 60px">
        <div class="calendarioCirugiaPropuesta"></div>
    </div>
    <!--MODAL PARA REGISTRAR INGRESO-->
    <div class="modal fade" id="fullCalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2; font-weight: 600">INGRESO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-lg-4">
                                <div style="color:#1976d2">PACIENTE</div>
                            </div>
                            <div class="col-lg-8">
                                <div id="infoPaciente"></div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div style="color:#1976d2">CIRUGÍA PROPUESTA</div>
                            </div>
                            <div class="col-lg-8">
                                <div id="cirugiaPropuesta"></div>
                            </div>  
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-lg-12">
                             <%= render 'frmRegistrarIngreso' %>
                        </div>                       
                    </div>                   
                    
                </div>
            </div>
        </div>
    </div>
<!--MODAL MOSTRAR INFORMACION DEL PACIENTE INGRESADO-->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2; font-weight: 600">INGRESO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="color:#1976d2">PACIENTE</div>
                        </div>
                        <div class="col-lg-8">
                            <div id="infoPaciente2"></div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="color:#1976d2">CIRUGÍA PROPUESTA</div>
                        </div>
                        <div class="col-lg-8">
                            <div id="cirugiaPropuesta2"></div>
                        </div>  
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-lg-12" style="text-align: center; font-weight: 900">
                            <div id="estado"></div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    <span><i class="fa fa-check" aria-hidden="true"></i> ACEPTAR</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--MODAL ERROR-->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f44336">
        <h5 class="modal-title" id="titleError" style="color: #fff"></h5>
      </div>
      <div class="modal-body" id="bodyError">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL SUCCESS-->

<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #66bb6a">
        <h5 class="modal-title" id="titleSuccess" style="color: #fff"></h5>
      </div>
      <div class="modal-body" id="bodySuccess">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>
