// Place all the styles related to the ingresos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.optionMenu{
    padding-bottom: 10px;
}

.scroll-panelNotas {
  //min-height: 10;
 max-height: 450px;
    overflow-y: scroll;
}

.cabeceraNotas{
    border-bottom-color: #d7ccc8;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color:#1976d2;
}

//style para tabla signos vitales
th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 1px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  //border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}


