.info{
    background-color:#a5d6a7;
    border-radius: 8px;
}
.bordeInferior{
    border-bottom-color: #66bb6a;
    border-bottom-width: 4px;
    border-bottom-style: solid; 
    text-align: center;

}
.exteriorInfo{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/*input{
    text-transform:uppercase;
}*/

