<% provide(:citas, 'active') %>

<!--<div class='row' id="titulo" style="margin-left:20px; margin-top:20px;">
  <img src="/img/icon/calendar.png" alt="rss feed" />
  <h3><strong>CITAS</strong></h3>
</div>-->
</br>

<div id="bloque" class="alert alert-warning" role="alert" style="width: 100%">
  <div class="row" style="padding-left: 20px">
    <h4><strong>BUSQUEDA DE CITAS</strong></h4>
  </div>
  <div class="row">
    <%= form_for :cita do |f| %>
      <div class="center-block" style="width:70%">
        <div class="col-md-4">
          <div class="form-group">
            <label for="perfil">POR ESPECIALISTA</label>
            <%= f.collection_select :medico_id, @especialistas, :medico_id, :Nombre,{prompt: 'TODOS'},{ :class => 'form-control', :id => 'citas_selector'} %>
          </div>
        </div>
        <% end %>
          <div class="col-md-2"></div>
          <div class="col-md-4">

            <label for="paciente">POR PACIENTE</label>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" name="cedula" id="cedula" onclick="myfunction()">
                    <span class="glyphicon glyphicon-search"></span>
              </button>
              </span>
            </div>
          </div>                 
      </div>      
  </div>
</div>

<div class="row" style="margin-left:20px; margin-top:0px">
  <div class=".col-xs-6">
    <%= link_to new_cita_path, class:"btn btn-primary pull-right" do %>
    <i class="glyphicon glyphicon-plus"></i> AGENDAR CITA
    <% end %>  
  </div>
</div>

</br>
<div class="row" style="margin-top: 5px">
  <div class="center-block" style="width:85%">
    <div class="calendar"></div>
  </div>
</div>