<p id="notice">
  <%= notice %>
</p>
<div class='row' id="titulo" style="margin-left:20px; margin-top:20px;">
  <img src="/img/icon/calendar.png" alt="rss feed" />
  <h3><strong>CITAS</strong></h3>
</div>
</br>
<label for="perfil">ESPECIALISTA</label>
<div class="row">
  <%= form_for :cita do |f| %>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.collection_select :medico_id, @especialistas, :medico_id, :Nombre,{prompt: 'TODOS'},{ :class => 'form-control', :id => 'citas_selector'} %>
      </div>
    </div>
    <% end %>
</div>

<div class="row" style="margin-left:20px; margin-top:10px">
  <div class=".col-xs-6">
    <%= link_to new_cita_path, class:"btn btn-primary pull-right" do %>
      <i class="glyphicon glyphicon-plus"></i> AGENDAR CITA
      <% end %>
  </div>
</div>
</br>

<div class="calendar"></div>