<div class="panel panel-info" style="margin-top: 20PX">
    <div class="panel-heading">NUEVA CITA MÉDICA</div>
    <div class="panel-body">
        <%= render 'form', cita: @cita %>
    </div>
</div>