<%= form_for @consulta, :url => { :action => "createAntecedente" } do |f| %>
    <div class="row" style="margin-top: 10px">
        <%= f.fields_for :antecedente do |o|%>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="estadoCivil">TIPO</label>
                    <%= o.select(:Ant_tipo, options_for_select([['Alergico', 'ALERGICO'], ['Clínicos', 'CLINICOS'],['Ginecologico', 'GINECOLOGICO'],['Traumatologicos', 'TRAUMATOLOGICOS'],['Pediatricos', 'PEDIATRICOS'],['Quirurgicos','QUIRURGICOS'],['Farmacologicos','FARMACOLOGICO'],['Otros','OTROS']]),{prompt: "Seleccione"},{ :class => 'form-control'}) %>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="DesAntecedente">DESCRIPCIÓN</label>
                    <%= o.text_area :Ant_Descripcion, class:'form-control', id:'DesAntecedente',placeholder:'Añada alguna particularidad'%>
                </div>
            </div>
            <% end %>
    </div>

    <div class="row" style="margin-top:10px">
        <div class="col-md-3">
            <div class="actions">
                <button type="submit" class="btn btn-primary btn-sm">
                <span><i class="glyphicon glyphicon-plus"></i> Añadir</span>
                </button>
            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-4"></div>

    </div>
    <% end %>