<%= form_for(@consulta, :url => { :action => "createAntecedente" }, remote: true, html:{id: "antecedente-form",format: :json}, validate: true) do |f| %>
    
        <%= f.fields_for(@antecedente, validate: true) do |o|%>
            
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="estadoCivil">TIPO</label>
                    <%= o.select(:Ant_tipo, options_for_select([['Alergico', 'ALERGICO'], ['Clínicos', 'CLINICOS'],['Ginecologico', 'GINECOLOGICO'],['Traumatologicos', 'TRAUMATOLOGICOS'],['Pediatricos', 'PEDIATRICOS'],['Quirurgicos','QUIRURGICOS'],['Farmacologicos','FARMACOLOGICO'],['Otros','OTROS']]),{prompt: "Seleccione"},{ :class => 'form-control'}) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label for="DesAntecedente">DESCRIPCIÓN</label>
                    <%= o.text_area :Ant_Descripcion, class:'form-control', id:'DesAntecedente',placeholder:'Añada alguna particularidad', validate: { presence: true } %>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:0px">
            <div class="col-lg-3">
                <div class="actions">
                    <button type="submit" class="btn btn-primary btn-sm">
                    <span><i class="glyphicon glyphicon-plus"></i> Añadir</span>
                    </button>
                </div>
            </div>

        </div>
        <% end %>
    
    
    <% end %>