 <% if @persona.medico != nil%>
    <% provide(:medicos, 'active') %>
 <%else%>
    <% provide(:empleados, 'active') %>
 <% end %>

<div class="panel panel-info" style="margin-top:50px">
    <div class="panel-heading">MODIFICAR</div>
    <div class="panel-body">
        <div>
            <%= render 'form', persona: @persona %>

        </div>
       

    </div>
</div>
