<% provide(:medicos, 'active') %>
  <div class='row' id="titulo" style="margin-left:20px; margin-top:50px;">
    <img src="/img/icon/doctor.png" alt="rss feed" />
    <h3><strong>MÉDICOS</strong></h3>
  </div>
  <div class="row" style="margin-left:20px; margin-top:10px;">
    <% if notice %>
      <div id="notice_panel" style="width: 80%; margin:0 auto">
        <p id="notice">
          <%= notice %>
        </p>
      </div>
      <% end %>
  </div>
  <div class='row' style="margin-left:20px; width: 90%">
     <form action="../personas/new" method="get">
        <button type="submit" class="btn btn-primary pull-right" style="width: 175px">
          <span class="fa fa-plus-circle" aria-hidden="true"></span> Agregar
        </button>
    </form>
  </div>

  <div class='row' style="margin-left:20px; margin-top:10px; width: 90%">
    <table id="tblMedicos" class="table table-striped" style="width:100%; margin:0 auto; margin-top: 20px">
      <thead>
        <tr>
          <th>CÉDULA</th>
          <th>APELLIDOS</th>
          <th>NOMBRES</th>
          <th>ESPECIALIDAD</th>
          <th>OPCIONES</th>
        </tr>
      </thead>
      <%= render 'tblInformation'%>
    </table>
  </div>