<div class="panel panel-info">
    <div class="panel-heading">EMPLEADO NUEVO</div>
        <div class="panel-body">
            <div>
                <%= render 'form', persona: @persona %>

                <%= link_to 'Back', personas_path %>
            </div>
        </div>
</div>
