<% provide(:empleados, 'active') %>
<div class="panel panel-info" style="margin-top:50px">
    <div class="panel-heading">NUEVO EMPLEADO</div>
        <div class="panel-body">
            <div>
                <%= render 'form', persona: @persona %>
            </div>
        </div>
</div>