<% provide(:home, 'active') %>
<div class="row" style="margin-top: 50px">
    <div class="col-lg-12">
        <div class="alert alert-warning">
            <h3>BIENVENIDO AL SISTEMA CLÍNICO</h3>
        <%=session[:persona]["Per_Apellido_Materno"]%> <%=session[:persona]["Per_Nombres"]%>
        <%= notice%>
        </div>
        
    </div>
</div>

