<% provide(:pacientes, 'active') %>
<div class="panel panel-info" style="margin-top:50px">
    <div class="panel-heading">MODIFICAR PACIENTE</div>
    <div class="panel-body">
        <div>
             <%= render 'form', paciente: @paciente %>

        </div>
       

    </div>
</div>


