<% provide(:index, 'active') %>
<div class="panel panel-info">
    <div class="panel-heading">PACIENTE NUEVO</div>
    <div class="panel-body">
        <div>
             <%= render 'form', paciente: @paciente %>

        </div>
       

    </div>
</div>